/******* Global Styles *********/

$blue: #70cff1;
$dark: #3C89A4;
$light: white;
$other: $dark;
//#A75A08

$break: 850px;

* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
        /*border: 1px solid black;*/
    }

body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url(/assets/images/chesler3.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1, h2, h3, h4 {
	// font-family: 'Averia Serif Libre', cursive;
	font-family: 'Inconsolata', monospace;
	color: $light;
	// -webkit-text-stroke: 2px $dark;
}

h2 {
	font-size: 4em;
}

* {
	font-family: 'Quicksand', sans-serif;
}

p {
	color: $dark;
	font-family: 'Quicksand', sans-serif;
	letter-spacing: 1px;
}

li, a, h3 {
	font-family: 'Quicksand', sans-serif;
	color: $light;
}

.container {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto 100vh 100vh 100vh 100vh;
}

section > h2 {
	margin-bottom: 25px;
	@media(max-width: $break) {
		font-size: 1.7rem;
	}
}


/******* Header Section Styles *********/

#titlePage {
	grid-row-start: 2;
	h1 {
		font-size: 4rem;
		margin-top: 15%;
		text-align: center;

		@media (max-width: $break) {
			font-size: 350%;
			width: 80%;
			margin: 35% auto 0;
		}
	}

	h2 {
		font-size: 1.5rem;
		padding-bottom: 3%;
		text-align: center;
		letter-spacing: 10px;

		@media (max-width: $break) {
			font-size: 125%;
			margin: 0 auto 5%;
			width: 80%;
		}
	}

	> a {
		color: $dark;
		background-color: $light;
		border: 1px solid $dark;
		text-decoration: none;
		padding: 10px;
		margin: 0 auto;
		display: block;
		width: 150px;
		border-radius: 10px;
	}

	> a:hover {
		border-width: 5px;
	}
}

.icon:active::after, .icon:hover::after {
  content: attr(data-content);
  position: absolute;
  right: 10px;
  top: 60px;
  width: auto;
  border: 4px solid $dark;
  background-color: $light;
  padding: 12px;
  color: $dark;
  font-size: 14px;
  z-index: 1;
}

/******* Portfolio Section Styles *********/

#portfolio {
	padding-top: 10%;
	grid-row-start: 3;
	text-align: center;
	
	.item-container {
		
		margin: 0 auto;
		width: 60%;
		display: grid;
		grid-template-columns: 9% 34% 43% 9%;
		grid-template-rows: 50% 18% auto;
		grid-column-gap: 2%;
		grid-row-gap: 25px;
		
		@media(max-width: $break) {
			width: 100%;
		}
	}
	
	i {
		font-size: 5rem;
		cursor: pointer;
		color: $light;
		
		@media(max-width: $break) {
			font-size: 3rem;
		}
	}

	i:hover {
		color: $dark;
	}
	
	.left-arrow {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 1;
		grid-row-end: 3;
		align-self: center;
	}
	
	.right-arrow {
		grid-column-start: 4;
		grid-column-end: 5;
		grid-row-start: 1;
		grid-row-end: 3;
		align-self: center;
	}
	
	.item-image {
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 2;
		align-content: center;
		border: 2px $light;
		
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 10px;
		}
		@media(max-width: $break) {
			grid-column-end: 4;
		}
	}
	
	.item-desc {
		border-radius: 10px;
		padding: 5px;
		background-color: $light;
		grid-column-start: 3;
		grid-column-end: 4;
		grid-row-start: 1;
		grid-row-end: 2;
		color: $dark;
		min-height: 200px;
		align-content: center;
		border: 2px $light;
		
		@media(max-width: $break) {
			grid-column-start: 2;
			grid-column-end: 4;
			grid-row-start: 2;
			grid-row-end: 3;
		}
		
		h3 {
			color: $dark;
			font-size: 1.5rem;
		}
	}
	
	.item-tags {
		grid-column-start: 2;
		grid-column-end: 4;
		grid-row-start: 2;
		grid-row-end: 3;
		span {
			background-color: $light;
			padding: 5px;
			color: $dark;
			border-radius: 5px;
			margin: 4px;
			display: inline-block;
		}
		@media(max-width: $break) {
			grid-row-start: 3;
			grid-row-end: 4;
		}
	}
}

/******* Skills Section Styles *********/

#skills {
	padding-top: 10%;
	grid-row-start: 4;

	h2 {
		text-align: center;
		margin-top: 15px;
	}

	p {
		border-radius: 10px;
		padding: 20px;
	}

	.aboutContainer {
		width: 40%;
		margin: 0 auto;
		background-color: $light;
		border-radius: 10px;

		@media (max-width: $break) {
			width: 80%;
		}
	}
}

/******* Contact Section Styles *********/

#contact {
	padding: 10% 0;
	text-align: center;
	grid-row-start: 5;
	
	.disabled {
		cursor: default;
		opacity: .8;
		pointer-events: none;
	}

	img {
		margin: 10px;
		border-radius: 10px;
	}

	form {
		width: 300px;
		padding: 10px;
		vertical-align: top;
		display: inline-block;
	}

	input {
		background-color: $light;
		margin: 5px;
		border-radius: 5px;
		line-height: 1.5em;
		width: 100%;
		padding: 5px;
	}

	textarea {
		background-color: $light;
		margin: 5px;
		border-radius: 5px;
		height: 200px;
		padding: 5px;
		width: 100%;
	}

	input::-webkit-input-placeholder {
		color: $dark;
	}

	input:-moz-placeholder{
		color: $dark;
	}

	input::-moz-placeholder{
		color: $dark;
	}

	input:-ms-input-placeholder{
		color: $dark;
	}

	textarea::-webkit-input-placeholder {
		color: $dark;
	}

	textarea:-moz-placeholder{
		color: $dark;
	}

	textarea::-moz-placeholder{
		color: $dark;
	}

	textarea:-ms-input-placeholder{
		color: $dark;
	}

	button {
		width: 310px;
		background-color: $dark;
		border-radius: 5px;
		color: white;
		cursor: pointer;
		margin: 5px;
		padding: 10px;
	}

	button {
		color: $dark;
		background-color: $light;
	}

}

/******* Navigation Styles *********/

nav {
	grid-row-start: 1;
}

.normalNav {
	position: fixed;
	height: 60px;
	width: 100%;
	background-color: $blue;

	ul {
		list-style: none;
		float: right;
	}

	ul li {
		float: left;
		font-size: 1.1em;
		cursor: pointer;
		color: $other !important;
		padding: 15px;
		border-right: 2px solid $other;
		cursor: pointer;
	}
	
	.icon, .icon a {
		border: none;
		padding: 3px;
		font-size: 2rem;
		color: $dark !important;
	}
	.icon:first-of-type {
		padding-left: 15px;
	}
	.icon:hover, .icon:hover a {
		color: $light !important;
	}

	ul li:last-child {
		border-right: 0;
	}

	a {
		text-decoration: none;
	}

	ul li a:hover {
		color: $dark;
	}
}

#scrollIcon {
	display: none;
}

.navOnScroll {
	width: 100%;
	position: fixed;
	background-color: $other;
	top: 0;
	right: 0;
	height: 60px;
	z-index: 2;

	ul {
		display: none;
	}

	#scrollIcon {
		display: block;
		position: fixed;
		top: 10px;
		right: 20px;
		color: white;
		font-size: 2em;
		cursor: pointer;
	}
}

.mobileNav {

	ul {
		list-style: none;
		float: right;
		position: fixed;
		top: 60px;
		display: block;
		text-align: right;
		width: 100%;
		background-color: $other;
	}

	ul li {
		font-size: 1.1em;
		cursor: pointer;
		margin-right: 40px;
		width: 100%;
		padding-bottom: 10px;
	}

	ul li a {
		color: white;
		text-decoration: none;
		margin-right: 20px;
	}

	a:hover {
		text-decoration: underline;
	}
}